body html{
    overflow-x: hidden; !important;
    margin: 0;
}
.logobrand {
    width: 100px;
}
@media only screen and (max-width: 408px) {
    .logobrand {
        width: 80px;
    }
}
@media only screen and (max-width: 360px) {
    .logobrand {
        width: 70px;
    }
}
@media only screen and (max-width: 340px) {
    .logobrand {
        width: 60px;
    }
}
@media only screen and (max-width: 310px) {
    .logobrand {
        width: 55px;
    }
}
@media only screen and (max-width: 290px) {
    .logobrand {
        width: 50px;
    }
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.myimgcontainer {
    margin-top: 0px;
    margin-bottom: 10px;


}


.page-footer {

    color: #d3d3d3;
}
.text-uppercase {
    font-style: normal;
    color: black;
}
.blacklink {
    color: black;
}
.blacktext {
    color: black;
}


.footer-copyright {
    color: black;
}

.authorblack {
    color: black;
}


.myothercontainer{
    margin-left: 20%;
    margin-top: 8%;
    margin-bottom: 10%;
}
.text1 {
    font-weight: bold;
    font-size: 45px;
}

ul#text li {
    display:inline;
}
#text {
    text-align: right;
    margin-right: 25%;
}
.text2 {
    text-decoration: underline;
}
.text3{
    margin-left: 20px;
}
.text3-a {
    color: black;
}
.text4 {
    font-size: 23px;
    font-weight: bold;
}
.text5 {
    color: #00aaed;
}
.location1 {
    width: 15%;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    display: flex;
    margin: 0 auto;
    padding:1em;
    max-width: 768px;
    /* To avoid image stretching on low width screens */
    align-items: center; }

.location2 {
    width: 15%;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    display: flex;
    margin: 0 auto;
    padding:1em;
    max-width: 768px;
    /* To avoid image stretching on low width screens */
    align-items: center; }
.location1 div {
    flex-grow: 1;
}
.location2 div {
    flex-grow: 1;
}

p {
    margin: 0;

}
.text6 {
    float: left;
}
.location1 {
    float: left;
    margin-left: 15%;
}
.location2 {
    margin-right: 45%;
}
.address1 {
    float: left;
}
.address2 {
    float: left;
}
.address1-a {
    color: black;
}
.address2-a {
    color: black;
}
.arrow1 {
    float: right;
}
.arrow2 {
    float: right;
}

@media only screen and (max-width: 1800px) {
    .location2 {
        width: 200px;
        margin-right: 40%;
    }
}
@media only screen and (max-width: 1600px) {
    .location1 {
        width: 200px;
    }
    .location2 {
        width: 200px;
    }
}
@media only screen and (max-width: 1550px) {
    .location1 {
        width: 200px;
    }
    .location2 {
        width: 200px;
        margin-right: 35%;
    }
}

@media only screen and (max-width: 1380px) {
    .location1 {
        width: 200px;
    }
    .location2 {
        width: 200px;
        margin-right: 30%;
    }
}

@media only screen and (max-width: 1250px) {
    .location1 {
        width: 200px;
    }
    .location2 {
        width: 200px;
        margin-right: 25%;
    }
}

@media only screen and (max-width: 1080px) {
    .location1 {
        width: 200px;
    }
    .location2 {
        width: 200px;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 940px) {
    .location1 {
        width: 200px;
    }
    .location2 {
        width: 200px;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 880px) {
    .location1 {
        width: 200px;
    }
    .location2 {
        width: 200px;
        margin-right: 10%;
    }
}
@media only screen and (max-width: 750px) {
    .location1 {
        width: 200px;
    }
    .location2 {
        width: 200px;
        margin-right: 5%;
    }
}
@media only screen and (max-width: 710px) {
    .location1 {
        width: 180px;
    }
    .location2 {
        width: 180px;
        margin-right: 3%;
    }
}
@media only screen and (max-width:640px) {
    .location1 {
        width: 150px;
    }
    .location2 {
        width: 150px;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 550px) {
    .location1 {
        width: 100%;
        float: none;
        margin-left: 0;

    }
    .location2 {
        margin-top: 5%;
        width: 100%;

    }
}
/*myothercontainer*/
@media only screen and (max-width: 1200px) {
    .myothercontainer{
        margin-left: 15%;
    }
    #text {
        margin-right: 15%;
    }
}
@media only screen and (max-width: 1000px) {
    .myothercontainer{
        margin-left: 10%;
    }
    #text {
        margin-right: 13%;
    }
}
@media only screen and (max-width: 800px) {
    .myothercontainer{
        margin-left: 5%;
    }
    .text1 {
        font-size: 35px;
    }
    #text {
        margin-right: 10%;
    }
}
@media only screen and (max-width: 650px) {
    .myothercontainer{
        margin-left: 4%;
    }
    .text1 {
        font-size: 30px;
    }
    #text {
        margin-right: 7%;
    }
}
@media only screen and (max-width: 600px) {
    .myothercontainer{
        margin-left: 3%;
    }
    #text {
        margin-right: 5%;
    }
}
/*end of myothercontainer*/


/*myvideo*/

.myvideo {
    margin-top: 8%;
    margin-bottom: 8%;
}

.myvideocontainer {
    /*width: 60%;*/
    width: 1200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    display: flex;
    margin: 0 auto;
    /*padding:1em;*/
    /*max-width: 768px;*/
    /* To avoid image stretching on low width screens */
    align-items: center; }

.myvideo-question {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5%;
}
.myvideo-apply {
    font-size: 60px;
    font-weight: bolder;
}
.myvideo-info {
    margin-top: 10%;
    margin-bottom: 10%;
}
.myvideo-text {
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-right: 5%;
}
.play {
    text-underline-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
.myvideo2 {
    display: none;
}

@media only screen and (max-width: 1025px) {
    .myvideo-question {
        color: white;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5%;
    }
    .myvideo-apply {
        color: white;
        font-size: 60px;
        font-weight: bolder;
    }
    .myvideo-info {
        /*color: white;*/
        /*margin-top: 10%;*/
        /*margin-bottom: 10%;*/
        display: none;
    }
    .myvideo-text {
        float: end;
        color: white;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 5%;
        padding-right: 5%;
    }
    .play {
        color: white;
        text-underline-color: transparent;
        text-decoration: none;
        font-weight: bold;
    }
    .myvideocontainer {
        width: 100%;
        background-image: url("video-cover-image-3.jpg");
        background-size: cover;
    }
    .myvideo-video {
        display: none;
    }

}
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .myvideocontainer {
        width: 100%;
    }

}


/*end of myvideo*/




/*image sizes*/



/*@media only screen and (max-width: 900px) {*/
/*    .img1 {*/
/*        height: 80%;*/
/*        filter: brightness(70%);*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 800px) {*/
/*    .img1 {*/
/*        height: 75%;*/
/*        filter: brightness(60%);*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 730px) {*/
/*    .img1 {*/
/*        filter: brightness(50%);*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 550px) {*/
/*    .img1 {*/
/*        height: 70%;*/
/*        filter: brightness(45%);*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 450px) {*/
/*    .img1 {*/
/*        height: 65%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 430px) {*/
/*    .img1 {*/
/*        height: 63%;*/
/*        filter: brightness(40%);*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 400px) {*/
/*    .img1 {*/
/*        height: 55%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 380px) {*/
/*    .img1 {*/
/*        height: 52%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 360px) {*/
/*    .img1 {*/
/*        height: 48%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 300px) {*/
/*    .img1 {*/
/*        height: 45%;*/
/*    }*/
/*    .text1 {*/
/*        font-size: 25px;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 280px) {*/
/*    .img1 {*/
/*        height: 42%;*/
/*    }*/
/*    .text1 {*/
/*        font-size: 23px;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 250px) {*/
/*    .img1 {*/
/*        height: 40%;*/
/*    }*/
/*    .text1 {*/
/*        font-size: 20px;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 240px) {*/
/*    .img1 {*/
/*        height: 38%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 210px) {*/
/*    .img1 {*/
/*        height: 35%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 200px) {*/
/*    .img1 {*/
/*        height: 33%;*/
/*    }*/
/*}*/



.mysearch {
    background-color: #f8efcf;
    /*width: 100%;*/
    overflow-y: auto;
    /*background-color: white;*/
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    display: flex;
    margin: 0 auto;
    /*padding:1em;*/
    /*max-width: 768px;*/
    /* To avoid image stretching on low width screens */
    align-items: center; }

.staff {
    float: left;
    margin-left: 20%;
}

.advertise{
    font-size: 60px;
    margin-top: 20%;
    font-weight: bold;

}
.form-inline {
    margin-top: 5%;
    margin-bottom: 3%;

}
.or {
    margin-bottom: 20%;
    text-decoration: underline;
    text-decoration-color: black;
    font-weight: bold;
}
.randomimg {
    text-align: right;
}
.search-inline li {
    display: inline-block;
}

@media only screen and (max-width: 1535px) {
    .staff {
        margin-left: 15%;
    }
}
@media only screen and (max-width: 1445px) {
    .staff {
        margin-left: 2%;
    }
    .advertise{
        font-size: 50px;
    }
}
@media only screen and (max-width: 1200px) {
    .staff {
        margin-left: 2%;
    }
    .advertise{
        font-size: 40px;
    }

}
@media only screen and (max-width: 880px) {

    .mysearch {
        background: url("0_Sunday@2x.jpg");
        background-size: cover;
        /*width: 100%;*/
        overflow-y: auto;
        border: 1px solid #f4f4f4;
        border-radius: 3px;
        display: flex;
        margin: 0 auto;
        /*padding:1em;*/
        /*max-width: 768px;*/
        /* To avoid image stretching on low width screens */
        align-items: center; }

    .staff {
        float: end;
        color: white;
    }

    .or {
        margin-bottom: 20%;
        text-decoration: underline;
        text-decoration-color: white;
    }
    .subrandomimg {
        display: none;
    }
    .search-inline li {
        display: inline-block;
    }

}










/* end of image sizes*/

/*mytext*/

.my-medium-text {
    font-weight: bold;
}
.my-small-text {
    font-size: 28px;
}
.mytext {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 28%;
    margin-right: 28%;
}

/*end of mytext*/



/*phones*/

* {
    box-sizing: border-box;
}



.row {
    text-align: left;
    margin-top: 8%;
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 30%;
}
.side-text {
    margin-left: 40%;
    text-align: left;
}
#side-text1 {
    margin-top: 25%;
    font-size: 45px;
}
#side-text2 {
    font-size: 15px;
    color: #a5a5a5;
    line-height: 170%;
}
#side-text4 {
    margin-top: 3%;
}
#side-image1 {
    margin-top: 5%;
}
@media only screen and (max-width: 1605px) {
    .side {
        flex: 30%;
    }
    .side-text {
        margin-left: 35%;
        text-align: left;
    }
    #side-text1 {
        margin-top: 23%;
        font-size: 45px;
    }
    #side-text2 {
        font-size: 15px;
        color: #a5a5a5;
        line-height: 170%;
    }
    .main {
        flex: 43%;
    }
    .fakeimg {
        width: 100%;
    }
}
@media only screen and (max-width: 1550px) {
    .side {
        flex: 30%;
    }
    .side-text {
        margin-left: 30%;
        text-align: left;
    }
    #side-text1 {
        margin-top: 20%;
        font-size: 45px;
    }
    #side-text2 {
        font-size: 15px;
        color: #a5a5a5;
        line-height: 170%;
    }
    .main {
        flex: 43%;
    }
    .fakeimg {
        width: 100%;
    }
}
@media only screen and (max-width: 1233px) {
    .side {
        flex: 30%;
    }
    .side-text {
        margin-left: 25%;
        text-align: left;
    }
    #side-text1 {
        margin-top: 15%;
        font-size: 45px;
    }
    #side-text2 {
        font-size: 15px;
        color: #a5a5a5;
        line-height: 170%;
    }
    .main {
        flex: 43%;
    }
    .fakeimg {
        width: 100%;
    }
}
@media only screen and (max-width: 1150px) {
    .side {
        flex: 30%;
    }
    .side-text {
        margin-left: 10%;
        text-align: left;
    }
    #side-text1 {
        margin-top: 5%;
        font-size: 40px;
    }
    #side-text2 {
        font-size: 15px;
        color: #a5a5a5;
        line-height: 170%;
    }
    .main {
        flex: 43%;
    }
    .fakeimg {
        width: 100%;
    }
}
@media only screen and (max-width: 975px) {
    .side {
        flex: 30%;
    }
    .side-text {
        margin-left: 5%;
        text-align: left;
    }
    #side-text1 {
        margin-top: 5%;
        font-size: 35px;
    }
    #side-text2 {
        font-size: 15px;
        color: #a5a5a5;
        line-height: 170%;
    }
    .main {
        flex: 43%;
    }
    .fakeimg {
        width: 100%;
    }
}
@media only screen and (max-width: 925px) {
    .side {
        flex: 30%;
    }
    .side-text {
        margin-left: 5%;
        text-align: left;
    }
    #side-text1 {
        margin-top: 5%;
        font-size: 33px;
    }
    #side-text2 {
        font-size: 14px;
        color: #a5a5a5;
        line-height: 170%;
    }
    .main {
        flex: 43%;
    }
    .fakeimg {
        width: 100%;
    }
}
@media only screen and (max-width: 775px) and (min-width: 700px){
    .side {
        flex: 30%;
    }
    .side-text {
        margin-left: 5%;
        text-align: left;
    }
    #side-text1 {
        margin-top: 5%;
        font-size: 33px;
    }
    #side-text2 {
        font-size: 14px;
        color: #a5a5a5;
        line-height: 120%;
    }
    #side-text4 {
        margin-top: 0;
    }
    .main {
        flex: 43%;
    }
    .fakeimg {
        width: 100%;
    }
    .side-image1 {
        width: 130px;
    }
}
@media only screen and (max-width: 699px) {
    #side-image2 {
        margin-bottom: 5%;
    }
}



.main {
    flex: 43%;
}
/* Fake image, just for this example */
.fakeimg {
    width: 100%;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/*end of phones*/



/*text area*/
.the-biggest-text {
    text-align: center;
    font-weight: bolder;
}
.text-area {
    margin-top: 8%;
    margin-bottom: 8%;
}
@media only screen and (max-width: 640px) {
    .the-biggest-text {
        font-size: xx-large;
    }
}
@media only screen and (max-width: 500px) {
    .the-biggest-text {
        font-size: x-large;
    }
}
@media only screen and (max-width: 350px) {
    .the-biggest-text {
        font-size: larger;
    }
}

/*end of text area*/

/*grid cards*/
.card-deck {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 8%;
}
.card {
    width: 23%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #dce6fa;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    display: flex;
    margin: 0 auto;
    padding-bottom:2em;
    /*max-width: 768px;*/
    /* To avoid image stretching on low width screens */
    align-items: center; }


.image {

}
.bigger-title {
    text-align: center;
}
.link-subtitle {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #009de0;
    font-size: 14px;
    padding-bottom: 4px;
    font-weight: 500;
    text-decoration: underline;

}
@media only screen and (max-width: 1700px) {
    .card-deck {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (max-width: 1500px) {
    .card-deck {
        margin-left: 18%;
        margin-right: 18%;
    }
}
@media only screen and (max-width: 1450px) {
    .card-deck {
        margin-left: 16%;
        margin-right: 16%;
    }
}
@media only screen and (max-width: 1400px) {
    .card-deck {
        margin-left: 14%;
        margin-right: 14%;
    }
}
@media only screen and (max-width: 1350px) {
    .card-deck {
        margin-left: 12%;
        margin-right: 12%;
    }
}
@media only screen and (max-width: 1300px) {
    .card-deck {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (max-width: 1250px) {
    .card-deck {
        margin-left: 8%;
        margin-right: 8%;
    }
}
@media only screen and (max-width: 1200px) {
    .card-deck {
        margin-left: 6%;
        margin-right: 6%;
    }
}
@media only screen and (max-width: 1150px) {
    .card-deck {
        margin-left: 4%;
        margin-right: 4%;
    }
}
@media only screen and (max-width: 1100px) {
    .card-deck {
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media only screen and (max-width: 1050px) {
    .card-deck {
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media only screen and (max-width: 1000px) {
    .card-deck {
        margin-left: 0%;
        margin-right: 0%;
    }
    .card {
        width: 100%;
    }
}


/*end of grid cards*/

/*footer responsivity*/
@media only screen and (min-width: 770px) {

    .footer-title {
        margin-left: 40%;
    }
}


.social li {

    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    list-style-type: none;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}

.page-footer {
    background-color: #f0f1ef;
    overflow: hidden;
}